<header class="header">
    <div class="header-content">
        <div class="logo-container">
            <a href="{{ url_for('home.index') }}"><span class="logo"></span></a>
        </div>

        <button class="nav-toggler">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <nav class="nav d-none">
            <ul>
                <li>
                    <a class="btn-primary btn-lg" href="{{ url_for('alumnos.create') }}">Registrar alumno</a>
                </li>
                <li>
                    <a class="btn-primary btn-lg" href="{{ url_for('profesores.create') }}">Registrar profesor</a>
                </li>
                <li>
                    <a class="btn-primary btn-lg" href="{{ url_for('home.color') }}">Color</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
