.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    width: 220px;
    height: 55px;
}

.nav {
    display: flex;

    ul {
        display: flex;
        margin: 0;

        li {
            margin: 0 0.1rem;
        }
    }

    @include breakpoint-down(md) {
        display: none;
    }
}
