// Display

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}


// Texto
.text-right {
    text-align: right;
}

.text-red {
    color: $red;
}
