{% extends 'shared/layout.html' %}


{% block title %} Ver profesor {% endblock %}

{% block main %}
    <div class="details-title">
        <h2>Detalles del profesor</h2>
    </div>

    <div class="details-container">
        <table class="table w-100">
            <thead class="header-dark">
                <tr>
                    <th>Detalles del profesor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-light">{{ profesor.no_empleado }}</td>
                </tr>
                <tr>
                    <td class="text-light">{{ profesor.nombre }}</td>
                </tr>
                <tr>
                    <td class="text-light">{{ profesor.carrera }}</td>
                </tr>
                <tr>
                    <td class="text-light">{{ profesor.telefono }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
